<div class="container">

    <form class="well form-horizontal" name="regForm">
<fieldset>

<!-- Form Name -->
<legend><center><h2 style="color: yellowgreen"><b>Registration Form</b></h2></center></legend><br>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" style="color:#660066">First Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="first_name" placeholder="First Name" class="form-control"  type="text" 
    ng-model="signup.user.first_name" required minlength="3">
    </div>
    <span ng-if="regForm.first_name.$error.required && regForm.first_name.$touched" style="color:red">*First name is required</span>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" style="color:#660066">Last Name</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="last_name" placeholder="Last Name" class="form-control"  type="text" 
  ng-model="signup.user.last_name" required minlength="3">
    </div>
    <span ng-if="regForm.last_name.$error.required && regForm.last_name.$touched" style="color:red">*Last name is required</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" style="color:#660066">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="email" 
    ng-model="signup.user.email" required>
    </div>
    <span ng-if="regForm.email.$invalid && regForm.email.$touched" style="color:red">
        Must be a valid email address</span>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label" style="color:#660066">Contact No.</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="contact_no" placeholder="###-###-####" class="form-control" type="text" 
    ng-model="signup.user.contact_no" pattern="(\d{3}-\d{3}-\d{4})" required>
    </div>
    <span ng-if="regForm.contact_no.$invalid && regForm.contact_no.$touched" style="color:red">
        Phone must me in format ###-###-#####
    </span>
  </div>
</div>

<!--Menu Category-->
<div class="form-group">
    <label class="col-md-4 control-label" style="color:#660066">Favourite Menu Category</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
    <input name="fav" placeholder="Enter the Short Name" class="form-control" type="text" 
      ng-model="$ctrl.user.fav">
      </div>
    </div>
  </div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" ng-disabled="regForm.$invalid"
    ng-click="signup.submit()">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSIGN UP <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
  </div>
</div>

<!--Message to Display-->
<div ng-if="signup.completed" style="color:green">
    <h4><center><b>Your information has been saved!!!</b></center></h4>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->